/* filepath: c:\xampp\htdocs\awproyecto\css\estilos.css */
.space-between-elements {
    margin-right: 20px; /* Ajusta el valor según el espacio que necesites */
}
.space-to-center-underheaderbar {
    margin-right: 300px; /* Ajusta el valor según el espacio que necesites */
}   

.navbar-nav .nav-link {
    color: white !important; /* Cambia el color de los enlaces a blanco */
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Opcional: Cambia el color al pasar el mouse */
}
.navbar-custom-height {
    height: 80px; /* Ajusta el valor según lo que necesites */
    display: flex; /* Asegura que el contenido se alinee correctamente */
    align-items: center; /* Centra verticalmente el contenido */
}

.text-white-custom {
    color: white !important; /* Cambia el color del texto a blanco */
}
.navbar-brand {
    font-size: 1rem; /* Tamaño por defecto */
}

@media (max-width: 576px) {
    .navbar-brand {
        font-size: 2rem; /* Tamaño más grande en pantallas xs */
    }
}